# Python
__pycache__/
*.py[cod]
.venv/
venv/
.venv-1/
backend/venv/

# Environment variables
.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db